<section>
  <div class="container-fluid pt-5" id="service">
    <div class="container">
      <div
        class="service-h4 position-relative d-flex align-items-center justify-content-center"
      >
        <h1
          class="display-1 text-uppercase text-white"
          style="-webkit-text-stroke: 1px #dee2e6"
        >
          Proyectos
        </h1>
        <h1 class="position-absolute text-uppercase text-primary">
          Mis proyectos
        </h1>

        <div
          class="d-grid gap-2 d-md-block"
          *ngIf="autenticacionService.isAuthenticated()"
        >
          <button
            (click)="onOpenModal('add')"
            class="btn btn-primary"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#addProjectModal"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </div>
      </div>

      <!--Add project modal -->
      <div
        class="modal fade"
        id="addProjectModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addProjectModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addProjectModalLabel">
                Agregar Proyecto
              </h5>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddProject(addForm)">
                <div class="form-group">
                  <label for="titlePro">Titulo Proyecto</label>
                  <input
                    type="text"
                    ngModel
                    name="titlePro"
                    class="form-control"
                    id="titlePro"
                    placeholder="Titulo"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="descPro">Descripción Proyecto</label>
                  <input
                    type="text"
                    ngModel
                    name="descPro"
                    class="form-control"
                    id="descPro"
                    placeholder="Descripción"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="linkPro">Link al proyecto</label>
                  <input
                    type="text"
                    ngModel
                    name="linkPro"
                    class="form-control"
                    id="linkPro"
                    placeholder="link"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="picPro">Imagen</label>
                  <input
                    type="text"
                    ngModel
                    name="picPro"
                    class="form-control"
                    id="picPro"
                    placeholder="Imagen"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    id="add-project-form"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    data-bs-toggle="modal"
                    data-bs-target="#cerrarProjectModal"
                  >
                    Cerrar
                  </button>
                  <button
                    [disabled]="addForm.invalid"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Guardar Cambios
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row pb-3" *ngFor="let project of projects">
        <div class="service-box col-lg-4 col-md-6 text-center mb-5">
          <div
            class="d-grid gap-2 d-md-block"
            *ngIf="autenticacionService.isAuthenticated()"
          >
            <button
              (click)="onOpenModal('edit', project)"
              class="btn btn-primary"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#editProjectModal"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </div>
          <div
            class="d-grid gap-2 d-md-block"
            *ngIf="autenticacionService.isAuthenticated()"
          >
            <button
              (click)="onOpenModal('delete', project)"
              class="btn btn-primary"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#deleteProjectModal"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-4">
            <i
              class="fa fa-2x fa-laptop service-icon bg-primary text-white mr-3"
            ></i>
            <h4 class="font-weight-bold m-0">{{ project.titlePro }}</h4>
          </div>
          <p>{{ project.descPro }}</p>
          <a
            class="border-bottom border-primary text-decoration-none"
            href=""
          ></a>
          <p>{{ project.linkPro }}</p>
        </div>
        <!-- Edit project modal -->
        <div
          class="modal fade"
          id="editProjectModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="editProjectModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editProjectModalLabel">
                  Editar Proyecto {{ editProject?.titlePro }}
                </h5>
              </div>
              <div class="modal-body">
                <form #editForm="ngForm">
                  <div class="form-group">
                    <label for="name">Titulo Proyecto</label>
                    <input
                      type="text"
                      ngModel="{{ editProject?.titlePro }}"
                      name="titlePro"
                      class="form-control"
                      id="titlePro"
                      aria-describedby="nombre"
                      placeholder="Titulo"
                    />
                  </div>
                  <input
                    type="hidden"
                    ngModel="{{ editProject?.idPro }}"
                    name="idPro"
                    class="form-control"
                    id="idPro"
                    placeholder=""
                  />
                  <div class="form-group">
                    <label for="descExp">Descripción proyecto</label>
                    <input
                      type="text"
                      ngModel="{{ editProject?.descPro }}"
                      name="descPro"
                      class="form-control"
                      id="descPro"
                      placeholder="descripción"
                    />
                  </div>
                  <div class="form-group">
                    <label for="linkPro">Link al proyecto</label>
                    <input
                      type="text"
                      ngModel="{{ editProject?.linkPro }}"
                      name="linkPro"
                      class="form-control"
                      id="linkPro"
                      placeholder="Fecha Inicio"
                    />
                  </div>
                  <div class="form-group">
                    <label for="picPro">Imagen</label>
                    <input
                      type="text"
                      ngModel
                      name="picPro"
                      class="form-control"
                      id="picPro"
                      placeholder="Imagen"
                      required
                    />
                  </div>

                  <div class="modal-footer">
                    <button
                      type="button"
                      id=""
                      data-dismiss="modal"
                      class="btn btn-secondary"
                      data-bs-toggle="modal"
                      data-bs-target="#cerrarProjectModal"
                    >
                      Cerrar
                    </button>
                    <button
                      (click)="onUpdateProject(editForm.value)"
                      data-dismiss="modal"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#editProjectModal"
                    >
                      Guardar Cambios
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Delete project modal -->
        <div
          class="modal fade"
          id="deleteProjectModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="deleteModelLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">
                  Borrar Proyecto
                </h5>
              </div>
              <div class="modal-body">
                <p style="color: rgb(255, 255, 255)">
                  Está seguro que desea borrar
                  {{ deleteProject?.titlePro }}?
                </p>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    data-bs-toggle="modal"
                    data-bs-target="#cerrarProjectModal"
                  >
                    No
                  </button>
                  <button
                    (click)="onDeleteProject(deleteProject!.idPro)"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteProjectModal"
                  >
                    Si
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Notification for no projects -->
<div *ngIf="projects?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No hay Proyectos!</h4>
    <p>No se encontraron proyectos.</p>
  </div>
</div>

<!-- Notification for no data -->
<div
  *ngIf="projects?.length == 0"
  class="col-lg-12 col-md-12 col-xl-12 spinner"
>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
