
/*===================== Header SECCION ======================*/


.about-img{
    margin-left: -100px;
    right: -60px;
   }

.text {
  white-space: nowrap;
  border-right: 3px solid rgb(239, 255, 20);
  width: 30ch;
  overflow: hidden;
  font-size: 1.5rem;
  color: #fff;
  animation: texto 3s 100 steps(27), cursor .5s infinite;
}

@keyframes texto {0% {width: 0}}
@keyframes cursor {50% {border-color: transparent}}

.btn-white{
  background-color: #ffffff;
  border:2px solid #ffffff;
}

/*===================== Header Fin ======================*/