/*====================== Back to buttom ==================*/

.back-to-top {
  position: fixed;
  display: fixed;
  width: 30px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

@media screen and (max-width: 767px) {
  .service-h4 h1 {
    font-size: 3rem;
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@media (max-width: 767px) {
  #footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer .go-top {
    margin-top: 10px;
  }
}
