<!-- Proyectos-->
<section>
  <div class="container-fluid pt-5" id="service">
    <div class="container">
      <div
        class="service-h4 position-relative d-flex align-items-center justify-content-center"
      >
        <h1
          class="display-1 text-uppercase text-white"
          style="-webkit-text-stroke: 1px #dee2e6"
        >
          Proyectos
        </h1>
        <h1 class="position-absolute text-uppercase text-primary">
          Mis proyectos
        </h1>
      </div>
      <div *ngIf="usuarioLogueado" class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Editar</button>
        <button class="btn btn-primary" type="button">Borrar</button>
      </div>
      <div class="row pb-3">
        <div class="service-box col-lg-4 col-md-6 text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-4">
            <i
              class="fa fa-2x fa-laptop service-icon bg-primary text-white mr-3"
            ></i>
            <h4 class="font-weight-bold m-0">1° Proyecto</h4>
          </div>
          <p></p>
          <a
            class="border-bottom border-primary text-decoration-none"
            href=""
          ></a>
        </div>
        <div class="service-box col-lg-3 col-md-6 text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-4">
            <i
              class="fa fa-2x fa-laptop-code service-icon bg-primary text-white mr-3"
            ></i>
            <h4 class="font-weight-bold m-0">2° Proyecto</h4>
          </div>
          <p></p>
          <a
            class="border-bottom border-primary text-decoration-none"
            href=""
          ></a>
        </div>
        <div class="service-box col-lg-4 col-md-6 text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-4">
            <i
              class="fab fa-2x fa-android service-icon bg-primary text-white mr-3"
            ></i>
            <h4 class="font-weight-bold m-0">3° Proyecto</h4>
          </div>
          <p></p>
          <a
            class="border-bottom border-primary text-decoration-none"
            href=""
          ></a>
        </div>
        <div class="service-box col-lg-4 col-md-6 text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-4">
            <i
              class="fab fa-2x fa-apple service-icon bg-primary text-white mr-3"
            ></i>
            <h4 class="font-weight-bold m-0">4° Proyecto</h4>
          </div>
          <p></p>
          <a
            class="border-bottom border-primary text-decoration-none"
            href=""
          ></a>
        </div>
        <div class="service-box col-lg-3 col-md-6 text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-4">
            <i
              class="fa fa-2x fa-search service-icon bg-primary text-white mr-3"
            ></i>
            <h4 class="font-weight-bold m-0">5° Proyecto</h4>
          </div>
          <p></p>
          <a
            class="border-bottom border-primary text-decoration-none"
            href=""
          ></a>
        </div>
        <div class="service-box col-lg-4 col-md-7 text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-4">
            <i
              class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3"
            ></i>
            <h4 class="font-weight-bold m-0">6° Proyecto</h4>
          </div>
          <p></p>
          <a
            class="border-bottom border-primary text-decoration-none"
            href=""
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Proyectos End -->
