<!-- Navbar Start -->
<section>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/APLogo-20-20.png" width="15%" height="" />
      </a>
      <ul class="list-group list-group-horizontal">
        <li class="nav-item">
          <a class="nav-link proyectos-btn" href="#proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link experiencia-btn" href="#experiencia"
            >Experiencia</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link skill-btn" href="#skill">Skills</a>
        </li>
        <li class="list-group-item">
          <a href="https://www.instagram.com/gabiboaglio/" target="_blank"
            ><i class="fa-brands fa-instagram fa-2xl"></i
          ></a>
        </li>
        <li class="list-group-item">
          <a href="https://www.linkedin.com/in/gabriel-boaglio/" target="_blank"
            ><i class="fa-brands fa-linkedin fa-2xl"></i
          ></a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/gabrielalfredoboaglio" target="_blank"
            ><i class="fa-brands fa-square-github fa-2xl"></i
          ></a>
        </li>
        <li class="list-group-item">
          <!-- Button trigger modal -->
          <i
            class="fa-solid fa-user fa-2xl"
            type="button"
            [routerLink]="['/iniciar-session']"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
          </i>
        </li>
      </ul>
    </div>

    <button
      *ngIf="autenticacionService.isAuthenticated()"
      (click)="cerrarSesion()"
    >
      Cerrar sesión
    </button>
  </nav>
</section>
<!-- Navbar End -->
