<!-- Sobre mi -->

<div class="container-fluid py-5" id="about">
  <div class="container">
    <div
      class="position-relative d-flex align-items-center justify-content-center"
    >
      <h1
        class="display-1 text-uppercase text-white"
        style="-webkit-text-stroke: 1px #dee2e6"
      >
        Sobre mi
      </h1>
      <div
        class="d-grid gap-2 d-md-block"
        (click)="onOpenModal('edit', usuario)"
        *ngIf="autenticacionService.isAuthenticated()"
      >
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#editPerfilUsuarioModal"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </div>
      <h1 class="position-absolute text-uppercase text-primary">Sobre mi</h1>
    </div>
    <div class="row align-items-center" *ngIf="usuario">
      <div class="col-lg-5 pb-4 pb-lg-0">
        <img
          class="img-fluid rounded w-75"
          src="{{ usuario.fotoPerfil }}"
          alt=""
        />
      </div>
      <div class="col-lg-7" *ngIf="usuario">
        <h3 class="mb-4">{{ usuario.titulo }}</h3>
        <p>{{ usuario.descripcion }}</p>
        <div class="row mb-3">
          <div class="col-sm-6 py-2">
            <h6>
              Nombre:
              <span class="text-secondary"
                >{{ usuario.nombre }} {{ usuario.apellido }}</span
              >
            </h6>
          </div>
          <div class="col-sm-6 py-2">
            <h6>
              Fecha de nacimiento:
              <span class="text-secondary">{{ usuario.fechaNac }}</span>
            </h6>
          </div>
          <div class="col-sm-6 py-2">
            <h6>
              Profesion:
              <span class="text-secondary">{{ usuario.titulo }}</span>
            </h6>
          </div>

          <div class="col-sm-6 py-2">
            <h6>
              Email:
              <span class="text-secondary">{{ usuario.email }}</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sobre mi -->

<!--  Edit usuario modal  -->
<div
  class="modal fade modales"
  id="editPerfilUsuarioModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editPerfilUsuarioModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="editPerfilUsuarioModalLabel">
          Editar Informacion
        </h5>
      </div>

      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              ngModel="{{ usuario?.nombre }}"
              name="nombre"
              class="form-control"
              id="nombre"
              aria-describedby="nombre"
              placeholder="Nombre"
            />
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input
              type="text"
              ngModel="{{ usuario?.apellido }}"
              name="apellido"
              class="form-control"
              id="apellido"
              placeholder="Apellido"
            />
          </div>
          <input
            type="hidden"
            ngModel="{{ usuario?.id }}"
            name="id"
            class="form-control"
            id="id"
            placeholder=""
          />
          <div class="form-group">
            <label for="titulo">Profesion</label>
            <input
              type="text"
              ngModel="{{ usuario?.titulo }}"
              name="titulo"
              class="form-control"
              id="titulo"
              placeholder="Titulo"
            />
          </div>
          <div class="form-label">
            <label for="fotoPerfil">Foto de perfil</label>
            <input
              type="text"
              alt
              ngModel="{{ usuario?.fotoPerfil }}"
              name="fotoPerfil"
              class="form-control"
              id="fotoPerfil"
              placeholder="Url de la imagen"
            />
          </div>
          <div class="form-group">
            <label for="fechaNac">Fecha De Nacimiento</label>
            <input
              type="text"
              ngModel="{{ usuario?.fechaNac }}"
              name="fechaNac"
              class="form-control"
              id="fechaNac"
              placeholder="Fecha De Nacimiento"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              ngModel="{{ usuario?.email }}"
              name="email"
              class="form-control"
              id="email"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input
              type="text"
              ngModel="{{ usuario?.descripcion }}"
              name="descripcion"
              class="form-control"
              id="descripcion"
              placeholder="Descripcion"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-secondary"
              data-bs-toggle="modal"
              data-bs-target="#cerrarPerfilUsuarioModal"
            >
              Cerrar
            </button>
            <button
              (click)="onUpdateUsuario(editForm.value)"
              data-dismiss="modal"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#editPerfilUsuarioModal"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
