 <!-- Skills -->

 <div class="container-fluid py-5" id="skill">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
            <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
        </div>
        <div class="row"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
           <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="100"
                [radius]="100"
                [title]="'HTML 100'"
                [titleFontWeight]="'1000'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'blue'"
                [innerStrokeColor]="'orange'"
                [animation]="true"
                [animationDuration]="1500"
                [startFromZero]="true"
               
                >
</circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'ANGULAR 85'"
        [titleFontWeight]="'1000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="1500"
        [startFromZero]="true"
        
        >
</circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="55"
        [radius]="100"
        [title]="'JAVASCRIPT 55'"
        [titleFontWeight]="'1000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="1500"
        [startFromZero]="true"
        
        >
</circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'CSS 85'"
        [titleFontWeight]="'1000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="1500"
        [startFromZero]="true"
      
        >
</circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="69"
        [radius]="100"
        [title]="'INGLES 69'"
        [titleFontWeight]="'1000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="1500"
        [startFromZero]="true"
       
        >
</circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'TEAMWORK 100'"
        [titleFontWeight]="'1000'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="1500"
        
        >
</circle-progress>
</div>
</div>
 <!-- Skills end -->