   <!-- Sobre mi -->
   <section>
   <div class="container-fluid py-5" id="about">
    <div class="container">
        <div *ngIf="usuarioLogueado" class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Editar</button>
            <button class="btn btn-primary" type="button">Borrar</button>
          </div>
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Sobre mi</h1>
            <h1 class="position-absolute text-uppercase text-primary">Sobre mi</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="../assets/img/blog-3.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">Programador Full Stack Junior</h3>
                <p>Soy un desarrollador Full stack junior con  pasión por el desarrollo de responsive web apps. Mi compromiso es siempre crear experiencias de usuario memorables a través del diseño.</p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>Nombre: <span class="text-secondary">Boaglio Gabriel</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Fecha de nacimiento: <span class="text-secondary">3 Abril 1990</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Profesion: <span class="text-secondary">Progamador junior</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Experiencia: <span class="text-secondary">-</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Telefono: <span class="text-secondary">3436227434</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">gaboindependiente@gmail.com</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Direccion: <span class="text-secondary">Gregoria Perez 1770</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Freelance: <span class="text-secondary">Disponible</span></h6></div>
                </div>
               
            </div>
        </div>
    </div>
</div>
</section>
<!-- Sobre mi -->

