/* =================== Educacion ======================*/
.ex-me {
  margin-top: 35px;
}

@media (max-width: 767px) {
  #experiencia h1.display-1 {
    font-size: 3rem;
    max-width: 80%;
  }
}

h1.display-1 {
  margin-right: 6rem;
}
